{% extends 'base.html.twig' %}

{% block body %}
    <h1>Menureservations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menuReservation in menuReservations %}
            <tr>
                <td><a href="{{ path('menureservation_show', { 'id': menuReservation.id }) }}">{{ menuReservation.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('menureservation_show', { 'id': menuReservation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('menureservation_edit', { 'id': menuReservation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('menureservation_new') }}">Create a new menuReservation</a>
        </li>
    </ul>
{% endblock %}
