.wrap-loading {
  //background: linear-gradient(135deg, #57D9BD 0%, #2DACE3 100%);
  z-index: 1;
  position: relative;
  width: 100vh;
  height: 100vh;

  img {
    max-width: 100%;
    position: absolute;
    top: 20%;
    left: -28%;
  }
}

.intro {
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: $grey-light;
  padding: 4rem 0;
  border-bottom: .1rem solid $grey-light;
  text-align: center;
}
.wrap-list-dates {
  font-weight: $bold;
  color: $grey-light;
  border-bottom: 0;

  .item-date {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0;
    color: $grey-light;

    &.active {
        color: $grey;

        .day-number {
          border-bottom: .2rem solid $blue;
        }
    }
    .day-number {
      padding-bottom: 1rem;
    }
  }
}


div[class^="menu-"]:not(.active) {
  display: none;
}
.wrap-list-dishes {
  .item-dish {
    padding: 0 1rem;

    .wrap-img-dish {
      height: 16.7rem;
      border-radius: .3rem;
      box-shadow: 0 3px 6px 0 rgba(0, 0 ,0, .1);
      overflow: hidden;

      img {
        min-width: 100%;
        max-height: 100%;
      }
    }

    .wrap-caption-dish {
      position: initial;
      z-index: 10;
      padding-top: 0;
      padding-bottom: 0;
      text-align: left;

      .title-dish {
        color: $grey-dark;
      }

      .legend-dish {
        font-size: 1.2rem;
        color: $grey-light;
      }
    }
  }
}