{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<div class="mb-4">
            <div class="col col-xs-12">
                <h1>Profil</h1>
            </div>
        </div>
    </div>
{% include "@FOSUser/Profile/edit_content.html.twig" %}
{% endblock fos_user_content %}
