{% trans_default_domain 'FOSUserBundle' %}
<img style="width: 100%;" src="{{ asset('assets/images/points.png') }}" />
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
