{% extends 'base.html.twig' %}

{% block body %}
        <div class="mb-4">
            <div class="col col-xs-12">
                <h1>QR Code</h1>
            </div>
        </div>
    </div>

    <img style="width: 100%;" src="{{ asset('assets/images/qrcode.png') }}" />

    </div>
{% endblock %}
