{% extends 'base.html.twig' %}

{% block body %}
        <div class="mb-4">
            <div class="col col-xs-12">
                <h1>Menus</h1>
            </div>
        </div>
    </div>

    {% set trans_day_hash = {
        "Mon": "LUN",
        "Tue": "MAR",
        "Wed": "MER",
        "Thu": "JEU",
        "Fri": "VEN",
        "Sat": "SAM",
        "Sun": "DIM"
    }
    %}

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <p class="intro">Inscrivez-vous les jours où le menu vous plaît, et Paula vous en garde une part ! ;)</p>
            </div>
        </div>

        <ul class="row justify-content-center mt-5 mb-5 wrap-list-dates">
            {% for menu in menus %}
                <li class="col col-auto item-date {% if loop.index == 1 %}active{% endif %}" data-menu="{{ menu.entity.getId() }}">
                    <p class="day-letter mb-2">{{ trans_day_hash[menu.entity.getDate()|date('D')] }}</p>
                    <p class="day-number">{{ menu.entity.getDate()|date("d") }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="wrap-menus">
        {% for menu in menus %}
            <div class="menu-{{ menu.entity.getId() }} {% if loop.index == 1 %}active{% endif %} item-menu" id="nav-day{{ loop.index }}">
                <div class="mb-5">
                    <div class="col">
                        {% if menu.entity in menuReserved %}
                            <a class="btn btn-primary btn-lg btn-block reserved" href="{{ '/menureservation/new/' ~ menu.entity.getId() ~ '/' ~ userId }}">C'est reservé</a>
                        {% else %}
                            <a class="btn btn-outline-primary btn-lg btn-block" href="{{ '/menureservation/new/' ~ menu.entity.getId() ~ '/' ~ userId }}">J'en veux bien !</a>
                        {% endif %}
                    </div>
                </div>

                <div class="mb-4 padding">
                    <div class="col col-xs-12">
                        <h2>Entrées</h2>
                    </div>
                </div>

                <div class="mb-5 slick wrap-list-dishes" id="starters">
                    {% for firstCourse in menu.firstCourses %}
                        <div class="item-dish">
                            <div class="wrap-img-dish mb-3">
                            <img src="{{ asset('uploads/images/' ~ firstCourse.getImage() ) }}" class="rounded" alt="Photo du plat {{ firstCourse.getName() }}">
                            </div>
                            <div class="wrap-caption-dish d-md-block">
                                <h5 class="mb-2 title-dish">{{ firstCourse.getName() }}</h5>
                                <p class="legend-dish">{{ firstCourse.getDescription() }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="mb-4 padding">
                    <div class="col col-xs-12">
                        <h2>Plats</h2>
                    </div>
                </div>

                <div class="mb-5 slick wrap-list-dishes">
                    {% for mainCourse in menu.mainCourses %}
                        <div class="item-dish">
                            <div class="wrap-img-dish mb-3">
                                <img src="{{ asset('uploads/images/' ~ mainCourse.getImage() ) }}" class="rounded" alt="Photo du plat {{ mainCourse.getName() }}">
                            </div>
                            <div class="wrap-caption-dish d-md-block">
                                <h5 class="mb-2 title-dish">{{ mainCourse.getName() }}</h5>
                                <p class="legend-dish">{{ mainCourse.getDescription() }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="mb-4 padding">
                    <div class="col col-xs-12">
                        <h2>Desserts</h2>
                    </div>
                </div>

                <div class="mb-5 slick wrap-list-dishes">
                    {% for dessert in menu.desserts %}
                        <div class="item-dish">
                            <div class="wrap-img-dish mb-3">
                                <img src="{{ asset('uploads/images/' ~ dessert.getImage() ) }}" class="rounded" alt="Photo du plat {{ dessert.getName() }}">
                            </div>
                            <div class="wrap-caption-dish d-md-block">
                                <h5 class="mb-2 title-dish">{{ dessert.getName() }}</h5>
                                <p class="legend-dish">{{ dessert.getDescription() }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
