{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mealtypes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mealType in mealTypes %}
            <tr>
                <td><a href="{{ path('mealtype_show', { 'id': mealType.id }) }}">{{ mealType.id }}</a></td>
                <td>{{ mealType.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mealtype_show', { 'id': mealType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('mealtype_edit', { 'id': mealType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mealtype_new') }}">Create a new mealType</a>
        </li>
    </ul>
{% endblock %}
