* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font;
  font-size: 1.4rem;
  font-weight: $regular;
  color: $grey;
}

h1 {
  font-size: 2.3rem;
  color: $white;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  color: $grey-dark;
}

h3 {
  font-size: 1.4rem;
  color: $grey-dark;
}

.padding {
  padding: 0 1.5rem;
}

// Connexion

body.login{
  background: linear-gradient(135deg, $green 0%, $blue 100%) no-repeat;
  height: 100vh;
  .wrapper{
    // text-align: center;
    width: 80%;
    margin: 0 auto;
    form{
      #remember_me, label[for="remember_me"]{
        display: none;
      }
      label{
        color: white !important;
        margin-bottom: 10px;
        font-size: 1.8rem;
      }
      input[type="text"], input[type="password"] {
        color: white;
        border: 1px solid white;
        border-radius: 5px;
        padding: 0 5px;
        -webkit-appearance: none;
        height: 40px;
        margin-bottom: 25px;
        background-color: transparent;
      }
      input, label{
        display: block;
        color: black;
        width: 100%;
        &[type="submit"] {
          margin-top: 25px;
          color: $blue;
          font-size: 1.2rem;
          height: 40px;
          border-color: white;
          border: 0;
          border-radius: 2rem;
          background-color: white;
          margin-bottom: 15px;
        }
      }
    }
    a.register{
      color: white;
      width: 100%;
      font-size: 1.2rem;
      display: inline-block;
      height: 40px;
      /* border-color: blue; */
      border: 2px solid white;
      border-radius: 2rem;
      background-color: transparent;
      text-align: center;
      padding-top: 13px;
    }
  }
  img.logo-login{
    width: 100%;
    padding: 40% 10% 0;
    margin-bottom: 40%;
  }
}

form.fos_user_profile_edit{
  width: 80%;
  margin: 0 auto;

  #remember_me, label[for="remember_me"]{
    display: none;
  }
  label{
    color: $grey !important;
    margin-bottom: 10px;
    font-size: 1.8rem;
  }
  input[type="text"], input[type="password"], input[type="email"] {
    color: $grey-light;
    border: 1px solid $grey-light;
    border-radius: 5px;
    padding: 0 5px;
    -webkit-appearance: none;
    height: 40px;
    margin-bottom: 25px;
    background-color: transparent;
  }
  input, label{
    display: block;
    color: black;
    width: 100%;
    &[type="submit"] {
      margin-top: 25px;
      color: $blue;
      font-size: 1.2rem;
      height: 40px;
      border-color: $blue;
      border: 0;
      border-radius: 2rem;
      background-color: transparent;
      margin-bottom: 15px;
    }
  }
}