.wrap-head {
  //background: url("./images/header.png") no-repeat center center;
  //background-size: cover;
  background: linear-gradient(135deg, $green 0%, $blue 100%);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;

  .main-header {
    .navbar {
      .navbar-qr {
        width: 2rem;
      }

      .navbar-brand {
        margin-right: 0;
        padding-left: 15px;

      }

      .navbar-toggler {
        border: 0;
      }

      .navbar-collapse {
        background: linear-gradient(93.67deg, $green 0%, $blue 100%);
        position: absolute;
        z-index: 1;
        width: 75%;
        height: calc(100vh - 4.125rem);
        top: 4.125rem;
        right: 0;

        .navbar-nav {
          padding: 2.5rem 0;

          .nav-item {
            border-bottom: .1rem solid $white;

            .nav-link {
              padding: 1.5rem 4rem;
              color: $white;
            }
          }
        }
      }
    }
  }
  h1 {
    padding-bottom: 1.5rem;
  }
}
