// font
@font-face {
  font-family: 'atc_arquettemedium';
  src: url('./fonts/atcarquette-medium-webfont.woff2') format('woff2'),
  url('./fonts/atcarquette-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

$font: "atc_arquetteregular", "Arial", "Helvetica", "Verdana", sans-serif;
$regular: 400;
$bold: 600;

// colors
$blue: #2DACE3;
$green: #57D9BD;
$grey: #565454;
$grey-light: #BABABA;
$grey-dark: #292C30;
$white: #fff