.btn-primary {
  font-size: 1.2rem;
  background-color: $blue;
  border-color: $blue;
  border-radius: 2rem;
  box-shadow: 0 .4rem .9rem 0 rgba(45, 172, 227, .3);
}

.btn-outline-primary {
  font-size: 1.2rem;
  color: $blue;
  border-color: $blue;
  border-radius: 2rem;
}

.btn-lg {
  padding: 1rem;
}