<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('contrib/slick-carousel/slick/slick.css') }}"/>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            <style type="text/css">
                @font-face {
                    font-family: 'atc_arquetteregular';
                    src: url({{asset('build/fonts/atcarquette-medium-webfont.e6f88497.woff2')}}) format('woff2'),
                    url({{asset('build/fonts/atcarquette-medium-webfont.1b721c7e.woff')}}) format('woff');
                    font-weight: normal;
                    font-style: normal;

                }
            </style>
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" src="/build/app.css"> -->
        {% endblock %}
    </head>
    <body class="login">
    <div class="wrapper">
        <div class="wrap-loading">
            <img src="{{ asset('assets/images/LOGO-ANIMM-BLANC.gif') }}">
        </div>
        <img class="logo-login" src="{{ asset('assets/images/Paula_logo.svg') }}"/>
        {# <div class="wrap-head"> #}
            {# <header class="main-header mb-5">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('assets/images/Paula_logo.svg') }}" alt="Logotype Paula"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Menus <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/leftover">Invendus</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/profile/edit">Profil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Déconnexion</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header> #}

            {% block body %}
            <div>
            {# {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %} #}
        {# </div> #}

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
            <a class="register" class="nav-link" href="/register">S'inscrire</a>
        </div>
        <script src="{{ asset('contrib/AdminLTE-2.4.5/dist/js/adminlte.min.js') }}"></script>
            {% endblock %}
    </div>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ asset('contrib/slick-carousel/slick/slick.min.js') }}"></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}
    </body>
</html>
