<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('contrib/slick-carousel/slick/slick.css') }}"/>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            <style type="text/css">
                @font-face {
                    font-family: 'atc_arquetteregular';
                    src: url({{asset('build/fonts/atcarquette-medium-webfont.e6f88497.woff2')}}) format('woff2'),
                    url({{asset('build/fonts/atcarquette-medium-webfont.1b721c7e.woff')}}) format('woff');
                    font-weight: normal;
                    font-style: normal;

                }
            </style>
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" src="/build/app.css"> -->
        {% endblock %}
    </head>
    <body>
    <div class="wrapper">
        <div class="wrap-head">
            <header class="main-header mb-5">
                <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-qr" href="/qr"><img src="{{ asset('assets/images/qr-code.svg') }}" alt="Logotype Paula"></a>
                    <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('assets/images/Paula_logo.svg') }}" alt="Logotype Paula"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Menus <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/leftover">Invendus</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/profile/edit">Profil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Déconnexion</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>

            {% block body %}
            {% block fos_user_content %}
            {% endblock fos_user_content %}
            {% endblock %}
    </div>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ asset('contrib/slick-carousel/slick/slick.min.js') }}"></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}
    </body>
</html>