{% extends 'base.html.twig' %}

{% block body %}
        <h1>Invendus</h1>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <p class="intro">Tous les jours à 14h, retrouvez les invendus de votre restaurant dʼentreprise. Réservez votre part pour le soir avant 17h, passez la chercher après le travail et régalez- vous au dîner !<br>Tous les restes seront redistribués aux associations locales.</p>
            </div>
        </div>
    </div>

    <div class="mt-5 mb-5 wrap-list-dishes" id="starters">
        {% for leftover in leftovers %}
            <div class="item-dish mb-5">
                <div class="wrap-img-dish mb-3">
                    <img src="{{ asset('uploads/images/' ~ leftover.getMeal().getImage() ) }}" class="rounded" alt="Photo du plat {{ leftover.getMeal().getName() }}">
                </div>
                <div class="wrap-caption-dish d-md-block">
                    <h5 class="mb-2 title-dish">{{ leftover.getMeal().getName() }}</h5>
                    <p class="legend-dish">{{ leftover.getMeal().getDescription() }}</p>
                </div>

                <div class="mt-5">
                    <div class="col">
                        {% if leftover in leftoverReserved %}
                            <a class="btn btn-primary btn-lg btn-block reserved" href="{{ '/leftoverreservation/new/' ~ leftover.getId() ~ '/' ~ userId }}">C'est reservé</a>
                        {% else %}
                            <a class="btn btn-outline-primary btn-lg btn-block" href="{{ '/leftoverreservation/new/' ~ leftover.getId() ~ '/' ~ userId }}">Garde-moi une part !</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('leftover_new') }}">Create a new leftover</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
