{% extends 'base.html.twig' %}

{% block body %}
    <h1>Leftoverreservations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for leftoverReservation in leftoverReservations %}
            <tr>
                <td><a href="{{ path('leftoverreservation_show', { 'id': leftoverReservation.id }) }}">{{ leftoverReservation.id }}</a></td>
                <td>{{ leftoverReservation.quantity }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('leftoverreservation_show', { 'id': leftoverReservation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('leftoverreservation_edit', { 'id': leftoverReservation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('leftoverreservation_new') }}">Create a new leftoverReservation</a>
        </li>
    </ul>
{% endblock %}
